/* salesMapContainerLwc.css */
.map-container {
    height: 500px;
    width: 100%;
}

@media (max-width: 768px) {
    .map-container {
        height: 350px;
    }
}

@media (min-width: 48em) {
    .slds-hide {
        display: none;
    }
}